{% extends "public/templates/public_template.html" %}

{% block title %}About Us{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, ipsam! Distinctio nesciunt repudiandae accusantium saepe dolore vel unde, repellendus sint facere totam quisquam debitis est explicabo nisi, similique modi voluptatibus.</p>
        </div>
    </div>
</div>
{% endblock %}